<!-- templates/ice_cream/index.html -->
{% extends '../base.html' %} 
{% block title %}
  <title>Лев Толстой – зеркало русской революции.</title>
{% endblock %}

{% block content %}
<!-- класс py-5 создает отступы сверху и снизу блока -->
  <h1>Все посты группы {{group.slug}}</h1>
  {% for post in posts %}
    <ul>
      <li>Автор: {{ post.author.get_full_name }}</li>
      <li>Дата публикации: {{ post.pub_date|date:"d E Y" }}</li>
    </ul>
    <p>{{ post.text|linebreaks }}</p>
    <a href="">все записи группы</a>
    {% if not forloop.last %}
      <hr>
    {% endif %} 
  {% endfor %} 
{% endblock %}
